@font-face {
  font-family: "Metropolis Extra Light";
  src: url('./assets/fonts/Metropolis-ExtraLight.ttf')
}

@font-face {
  font-family: "Metropolis Thin";
  src: url('./assets/fonts/Metropolis-Thin.ttf')
}

@font-face {
  font-family: "Metropolis Regular";
  src: url('./assets/fonts/Metropolis-Regular.ttf')
}

@font-face {
  font-family: "Metropolis Medium";
  src: url('./assets/fonts/Metropolis-Medium.ttf')
}

@font-face {
  font-family: "Metropolis Semi Bold";
  src: url('./assets/fonts/Metropolis-SemiBold.ttf')
}

@font-face {
  font-family: "Metropolis Bold";
  src: url('./assets/fonts/Metropolis-Bold.ttf')
}

/* * {
  border: 1px solid red;
} */

body, html {
  font-size: 15px;
  /* letter-spacing: -0.1px; */
  font-family: 'Metropolis Regular';
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
